/* bussinga! */
body {
  align-items: center;
  justify-content: center;
}
mid {
  direction: column;
  align-items: center;
}
.mid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 50dvw;
  max-height: 75dvh;
}
